body {
  font-family: fantasy;
}

h1  {
  font-weight: bold;
}

h4 {
  font-size: 30px;
  font-style: italic;
}

img {
  /* float: left; */
  display: inline-block;
  width: 325px;
}

ul {
  color: blue;
  display: inline-block;
  font-size: 25px;
  /* float: left; */

}

.buddy {
  color: Orange;
}

.header {
  background-color: #ccdfff
}

.profile-box {
  border: 1px solid black;
  background-color: #c6e5b9
}

.chloe {
  color: red;
}

.teddy {
  color: grey;
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  body {
    font-family: cursive;
  }
}

@media screen and (max-width: 480px) and (min-width: 300px) {
  .header {
    background-color: Pink;
  }
}
